@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: hsl(218, 28%, 13%);
  }
  
  nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5%;
    font-family: 'Raleway', sans-serif;
  }
  
  .logo {
    display: inline-block;
  }
  
  .nav-links {
    list-style: none;
     display: flex;
   
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .intro{
    text-align: center;
    color: white;
  }
  h4{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
  }
  .container{
    font-family: 'Open Sans', sans-serif;
  }
  .started{
    background-color: hsl(198, 60%, 50%);
    border-radius: 30px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    border-color: hsl(198, 60%, 50%);
    font-size: medium;
  }
  .mainicon{
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    
  }
  .mainiconitem{
    width: 100%;
    padding-bottom: 10%;
  }
 
    .mainicon>div {
      width: 100%;
      flex: 0 50%;
      /*demo*/
    
    }
    .mainiconitem>p{
      padding-left: 10%;
      padding-right: 15%;
    }
    